<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ ad[1] }}</title>
<link rel="stylesheet" type="text/css" href="../static/style.css"></head>
<body>
    <table>
        <tr>
            <th>Title</th>
            <td>{{ ad[1] }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ ad[2] }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ ad[3] }}</td>
        </tr>
        <tr>
            <th>Contact Full Name</th>
            <td>{{ ad[6] }}</td>
        </tr>
        <tr>
            <th>Contact Email</th>
            <td>{{ ad[7] }}</td>
        </tr>
        <tr>
            <th>Contact Telephone Number</th>
            <td>{{ ad[8] }}</td>
        </tr>
    </table>
    <a href="/">Go back to the home page</a>
</body>
</html>